# ===========================================
# Variables de entorno - Backend Django
# COPIA ESTE ARCHIVO A .env Y COMPLETA LOS VALORES
# ===========================================

# MongoDB Configuration
MONGO_HOST=main-database.rpaamyh.mongodb.net
MONGO_USER=tu_usuario_aqui
MONGO_PASSWORD=tu_password_aqui
MONGO_DB_NAME=App_estudiantil

# Django Secret Key
SECRET_KEY=tu_secret_key_aqui

# Debug (True para desarrollo, False para producción)
DEBUG=True
